body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Optional: Additional custom styles for cards */
.card {
    margin-bottom: 30px;
    /* Space between cards */
}

.card-title {
    color: #0056b3;
    /* Custom color for titles */
}

.card-text {
    font-size: 0.9rem;
    /* Adjust text size as needed */
}

.who{
    width: 78vw;
        /* Adjust this value as needed */
    margin: 0 auto;
    /* This centers the container */
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    /* color: white; */
    padding: 0 10%;
    background: url('../assets/images/hero.png') no-repeat center center/cover;
}

.hero-text {
    flex-basis: 50%;
    background: rgba(255, 255, 255, 0.7);
    /* Adjust opacity as needed for legibility */
    padding: 20px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    /* Soft shadow on the right edge */
}


/* Hover effect */
#hero:hover .hero-image {
    transform: translateX(-10%);
}

#about {
    background-color: #e9e9e9;
    text-align: center;
    padding: 50px 20px;
}


#work {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    max-width: 100%;
    border: 3px solid #fff;
}

button#loadMore {
    width: 10rem;
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5%;
    cursor: pointer;
}

button > a {
    color: #ffffff;
    /* Sets the color to black; change the hex code to the color you prefer */
    text-decoration: none;
    /* Removes the underline */
}

button > a:hover {
    color: yellow;
    text-decoration: underline;
}

.carousel-item img {
    height: auto;
    /* Maintain aspect ratio */
    max-height: 35vw;
    /* Set a maximum height */
    width: 100%;
    /* Make image responsive */
}

.carousel-caption {
    background: rgba(96, 96, 96, 0.7);
    /* Grey background with opacity */
    bottom: 0;
    /* Position the caption at the bottom of the carousel */
    right: 15%;
    /* Align to the right side, adjust as needed */
    left: 15%;
    /* Align to the left side, adjust as needed */
    padding: 1rem;
    border-radius: 4px;
    /* Optional: if you want rounded corners */
    transform: translateY(0);
    /* Resets any previous transformation */
}

footer > p{
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer {
    background: #333;
    color: white;
    padding: 10px 0;
}

.icon-center {
    text-align: center;
}